.welcome {
    background-color: rgba(237, 209, 152, 0.164);
    padding-bottom: 5vw;
}

.welcome > h1.elegant-header {
    margin-top: 0vw;
    line-height: 15vw;
    font-size: 13vw;
    padding-bottom: 2vw;
}

.welcome p {
    font-family: 'Lemonada', cursive;
    font-weight: 300;
    margin: 5vw 11vw;
    font-size: 3.6vw;
    line-height: 5.5vw;
    opacity: 0.8;
    text-align: center;
}

.welcome img {
    width: 90vw;
    display: block;
    margin: 5vw auto;
    height: 40vh;
    max-width: 100%;
    max-height: 100%;
}

span.next, span.prev {
    bottom: 50vw;
    margin: 0 5vw;
}

.elegant-button {
    display: block;
    position: static;
    margin: 0 auto;
    width: 64vw;
    line-height: 16vw;
    font-size: 7.5vw;
    flex-wrap: wrap;
}

.preturi div div {
    height: auto !important;
    min-height: 20vw;
}

.elegant-subexplanation {
    font-family: 'Lemonada';
    font-weight: 300;
    font-size: 3vw;
    width: 90vw;
    margin: auto;
    text-align: center;
    margin-top: 0vw;
    line-height: 4vw;
    margin-bottom: 3vw;
}

.elegant-subexplanation span.ext {
    position: absolute;
    font-size: 6vw;
    right: 5vw;
    font-family: "Lemonada", cursive;
    line-height: 7vw;
    margin-top: -4.2vw;
    opacity: 1;
}

.preturi p.elegant-explanation {
}

div + div > p {
    margin-top: 3vw;
}