@media only screen and (orientation: landscape) {

    /* TOP NAV LOGO, Resources*/

    header.navigation {
        width: 100%;
        position: fixed;
        z-index:99;
    }

    header.navigation section{
        display: flex;
        width: 100%;
        height: 4vw;
        justify-content: space-between;
        background-color: rgba(0,0,0,0.4);
        transition: 1s;
       
    }
    .nav-colored { 
        background-color:#000 !important; 
    }
    .nav-transparent { 
        background-color: rgba(0,0,0,0.4) !important;
    }

    header section .logo_a {
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 5vw;
        border-radius: 5vw;
        width: auto;
        height: 3vw;
        margin: auto;
    }


    .logo {
        max-height: 100%;
        max-width: 100%; 
        padding: 0.3vw 0;
    }

    header.navigation section h1 {
        font-size: 1.3vw;
        margin: 0.7vw 0.5vw;
        display: inline-flex;
    }

    header section h1 span {
        margin: 0.1vw;
    }

    header section nav {
        display: inline-flex;
    }

    header section nav ul{
        display: inline-flex;
        margin-right: 5vw;
    }

    header section nav ul li {
        margin: auto 1.5vw;
        display: inline-flex;
        height:4vw;

    }


    header section nav ul a img {
        max-width: 100%;
        height: 1.5vw;
        margin: 0.5vw;
    }


    header section nav ul a {
        text-decoration: none;
        color: hsl(180, 80%, 95%);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1vw;
        transition: 0.3s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }


    header section nav ul li:hover a{
        color: #31e8e8;
        transform: scale(1.1);
    }

    .in-page {
        color: #31e8e8;

    }

    header section nav ul li:hover ul li a{
        color: hsl(180, 80%, 95%);
    }
    header section nav ul li ul li a:hover{
        color: #31e8e8;
    }

    header section nav ul li ul {
        display: none;
    }

    li.technologies:hover ul {
        display: inline-flex;
        position: absolute;
        top: 4vw;
        right: 19.9vw;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        border-bottom-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        z-index: 98;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
        background-color: rgba(0,0,0,0.4);
        transition: 1s;
    }

    li.technologies:hover li {
        height: 2.5vw;
        margin: 0 0;
        width: 8.7vw;
    }

    li.resources:hover ul {
        display: inline-flex;
        position: absolute;
        top: 4vw;
        right: 10.2vw;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        border-bottom-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        z-index: 98;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
        background-color: rgba(0,0,0,0.4);
        transition: 1s;
    }

    li.resources:hover ul li {
        height: 2.5vw;
        margin: 0 0;
        width: 7.5vw;
    }

    #open-nav {
        display: none;
    }

    #close-nav {
        display: none;
    }

    /* MAIN CONTENT */ 

    div.header-spaced {
        height: 4vw;
    }

    .welcome section {
        padding-left: 24%;
        padding-right: 24%; 
        padding-top: 12vw;
        line-height: 4vw;
        text-align: center;
    }

    .img-landing {
        background-image: url("../images/landing-img2.jpg");
        background-size: cover;
        height: 40vw;
    }

    .img-landing section {
        height: 40vw;
        background-color: rgba(0, 0, 0, 0.2);
    }

    h2.main{
        font-size: 3.3vw;
        z-index: 97;
        color: white;
        margin-bottom: 3vw;
        text-shadow: 0 0 4px #31e8e8;
    }

    #desk-text {
        display: inline-block;
    }

    #mob-text {
        display: none;
    }

    .welcome a {
        text-decoration: none;
        background-color: #31e8e8;
        padding: 0.8vw;
        color: #246c8c;
        border-radius: 2vw;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        font-weight: 700;
        font-size: 1.2vw;
    }

    .welcome a:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 1) inset;
        text-shadow: none;
    }

    footer {
        display: block;
        position: relative;
        font-size: 0.9vw;
        z-index: 99;
        padding: 0 10vw;
        background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(49, 232, 232, 0.9) 100%);
    }

    footer > section.first {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 1.3vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        color: #1c2d49;
    }

    footer section h5 {
        margin-bottom: 2vw;
        font-family: "Audiowide";
    }

    footer section p {
        font-size: 1vw;
        opacity: 0.7;
    }

    footer section.first a, footer section.first p{
        display: block;
        color: #1c2d49;
        margin-top: 1vw;
        opacity: 0.7;
        margin-left: 0.2vw;
        font-size: 0.9vw;
        font-family: "Audiowide";
    }
    footer section.first a:hover {
        transition: 0.3s;
        color: #31e8e8;
    }
    footer > section.second {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 3vw;
        padding-bottom: 3vw;
        align-items: center;
    }

    footer hr {
        border-top: 2px solid #33c3ea;
        width: 80vw;
        opacity: 0.3;
    }

    footer h6 {
        font-weight: 400;
        opacity: 0.3;
    }

    footer a {
        text-decoration: none;
        color: #246c8c;
        font-weight: 700;
        font-size: 0.9vw;
        opacity: 0.8;
    }

    footer a:hover {
        transition: 0.5s;
        color: #31e8e8;
    }

    footer a i {
        font-size: 1.7vw !important;
        color: #31e8e8;
    }
    footer a i:hover {
        font-size: 1.7vw !important;
        color: #33c3ea;
    }

    .share {
        position: fixed;
        z-index: 99;
        bottom: 50vh;
        right: 1vw;
        width: 7vw;
        height: 12vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .share-on {
        position: absolute; 
        bottom: 13vw;
        font-size: 1.2vw;
        font-family: "Audiowide";
        width: 7vw;
        color: transparent;
        background-image: linear-gradient(to left, #8134AF, #33ea9b, #31e8e8, #DD2A7B, #F58529, #FEDA77);
        -webkit-background-clip: text;
        animation: animate 10s linear infinite;
        background-size: 1000%;
        text-align: center;
    }

    .share-on i {
        font-size: 2vw;
    }

    .share-f a {
        color: transparent;
        background-image: linear-gradient(to left, #8134AF, #33ea9b, #31e8e8, #DD2A7B, #F58529, #FEDA77);
        -webkit-background-clip: text;
        animation: animate 10s linear infinite;
        background-size: 1000%;
        text-align: center;
        font-size: 2.5vw;
    }

    @keyframes animate 
    {
        0%
        {
            background-position: 0% 100%;
        }
        50%
        {
            background-position: 100% 0%;
        }
        100%
        {
            background-position: 0% 100%;
        }

    }  

}



























@media only screen and (orientation: portrait) {
    /* TOP NAV LOGO, Resources*/

    header.navigation {
        width: 100%;
        position: fixed;
        z-index:99;
        top: 0;
    }

    header.navigation section{
        display: flex;
        width: 100%;
        height: 16vw;
        justify-content: space-between;
        background-color: rgba(0,0,0,0.4);
        transition: 1s;
        position: fixed;
        top:0;
    }
    .nav-colored { 
        background-color:#000 !important; 
    }
    .nav-transparent { 
        background-color: rgba(0,0,0,0.4) !important;
    }

    header section .logo_a {
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 5vw;
        border-radius: 5vw;
        width: auto;
        height: 11vw;
        margin: auto;
    }


    .logo {
        max-height: 100%;
        max-width: 100%; 
        padding: 0.3vw 0;
    }

    header.navigation section h1 {
        font-size: 5vw;
        margin: 0.7vw 0.5vw;
        display: inline-flex;
    }

    header section h1 span {
        margin: 0.1vw;
    }

    #open-nav{
        display: inline-flex;
        height: 10vw;
        width: 10vw;
        margin: 3vw 6vw;
        background-image: url(../images/menu.png);
        cursor: pointer;
    }


    #close-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 8vw;
        height: auto;
        margin-right: 7vw;
        margin-top: 4vw;
        cursor: pointer;
    }

    #menu-nav > ul{
        overflow: scroll;
    }


    header section > nav > ul{
        display: none;
        position: absolute;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        background-color:#000;
        z-index: 99;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
    }

    header section nav ul li {
        margin: 5vw 1.5vw;
        text-align: center;
    }


    header section nav ul a img {
        max-width: 100%;
        height: 5.5vw;
        margin: 0.5vw;
    }


    header section nav > ul > li > a {
        text-decoration: none;
        color: hsl(180, 80%, 95%);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 9vw;
        transition: 0.3s;
        display:flex;
        align-items: center;
        justify-content: center;
    }


    header section nav ul li:hover a{
        color: #31e8e8;
        transform: scale(1.1);
    }


    header section nav ul li ul {
        display: none;
        position:relative;
        flex-direction: column;
        align-items:center;
        background-color: #fff;
        border-bottom-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        z-index: 98;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
        background-color: rgba(0,0,0,0.4);
        transition: 1s;
    }

    .in-page {
        color: #31e8e8;

    }

    header section nav ul li ul li a {
        text-decoration: none;
        color: hsl(180, 80%, 95%);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 7vw;
        transition: 0.3s;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    header section nav ul li:hover ul li a{
        color: hsl(180, 80%, 95%);
    }
    header section nav ul li ul li a:hover{
        color: #31e8e8;
    }


    /* MAIN CONTENT */ 

    div.header-spaced {
        height: 4vw;
    }

    .welcome section {
        padding-left: 0vw;
        padding-right: 0vw; 
        padding-top: 40vw;
        line-height:18vw;
        text-align: center;
    }

    .img-landing {
        background-image: url("../images/landing-img2.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .img-landing section {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
    }

    h2.main{
        font-size: 8.5vw;
        z-index: 97;
        color: white;
        margin-bottom: 10vw;
        text-shadow: 0 0 4px #31e8e8;
        font-weight: 600;
    }

    #desk-text {
        display: none;
    }

    #mob-text {
        display: inline-block;
    }

    .welcome a {
        text-decoration: none;
        background-color: #31e8e8;
        padding: 2vw;
        color: #246c8c;
        border-radius: 5vw;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        font-weight: 700;
        font-size: 5vw;
    }

    .welcome a:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 1) inset;
        text-shadow: none;
    }

    footer {
        display: block;
        position: relative;
        font-size: 0.9vw;
        z-index: 96;
        padding: 0 10vw;
        background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(49, 232, 232, 0.9) 70%);
    }

    footer > section.first {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 8.3vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        color: #1c2d49;
        flex-direction: column;
        text-align: center;
    }

    footer section div {
        margin-bottom: 4vw;
    }

    footer section h5 {
        margin-bottom: 2vw;
        font-family: "Audiowide";
    }

    footer section p {
        font-size: 1vw;
        opacity: 0.7;
    }

    footer section.first a, footer section.first p{
        display: block;
        color: #1c2d49;
        margin-top: 1vw;
        opacity: 0.7;
        margin-left: 0.2vw;
        font-weight: 400;
        font-size: 4vw;
        padding: 2vw;
        font-family: "Audiowide";
    }
    footer section.first a:hover {
        transition: 0.3s;
        color: #33c3ea;
    }
    footer > section.second {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 3vw;
        padding-bottom: 3vw;
        flex-direction: column;
        text-align: center;
    }

    footer hr {
        border-top: 2px solid #33c3ea;
        width: 80vw;
        opacity: 0.3;
    }

    footer h6 {
        text-align: center;
        font-weight: 400;
        margin-top: 5vw;
        opacity: 0.3;
        font-size: 2.95vw;
    }

    footer a {
        text-decoration: none;
        color: #246c8c;
        font-weight: 700;
        font-size: 4vw;
        opacity: 0.8;
        padding: 2vw;
    }

    footer a:hover {
        transition: 0.5s;
        color: #33c3ea;
    }

    footer a i {
        font-size: 6vw !important;
        color: #31e8e8;
    }
    footer a i:hover {
        font-size: 6vw !important;
        color: #33c3ea;
    }

    .share {
        display: none;
    }

}