
/* PAGE STYLES */

body {
    background-image: url(../images/background-super-lighter.png);
}

header {
    text-align: center;
}

header h2 {
    text-align: left;
}

h3, p, h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

main {
    padding-left: 20%;
    padding-right: 20%;
}

article h3 {
    color: #289d7b;
}

footer {
    text-align: center;
}

/* FONTS */

.audiowide {
    font-family: Audiowide, cursive;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/* COLOR Palette for MdN */

.dark-blue {
    color: #1c2d49;
}

.middle-blue {
    color: #246c8c;
}

.middle-blue-2 {
    color: #288dab;
}

.original-middle-blue {
    color:#33c3ea;
}

.light-blue {
    color: #31e8e8;
}

.dark-green {
    color: #289d7b;
}

.light-green {
   color: #33ea9b;
}