
/* PAGE STYLES */

body {
    background-image: url(../images/background-super-lighter.png);
}

header {
    display: flex;
    width: 99vw;
    height: 4.2vw;
}

header a {
    display: flex;
    text-decoration: none;
}

.logo {
    max-height: 100%; 
    width: auto;
    margin-left: 5vw;
}

header h1 {
    font-size: 1.66vw;
    margin-left: 0.5vw;
    padding: auto auto;

}

footer {
    text-align: center;
}

/* FONTS */

.audiowide {
    font-family: Audiowide, cursive;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/* COLOR Palette for MdN */

.dark-blue {
    color: #1c2d49;
}

.middle-blue {
    color: #246c8c;
}

.middle-blue-2 {
    color: #288dab;
}

.original-middle-blue {
    color:#33c3ea;
}

.light-blue {
    color: #31e8e8;
}

.dark-green {
    color: #289d7b;
}

.light-green {
   color: #33ea9b;
}
