
h1 {
    font-family: 'Dancing Script', cursive, sans-serif;
}

nav > ul.social i , .fa-bars{
    font-size: 9vw;
    text-align: center;
    background: -webkit-linear-gradient(
        120deg,
        #9c6c24,
        #b3782b,
        #dfa344,
        #edd198,
        #dfa344,
        #b3782b,
        #9c6c24
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto 0;
}

@media only screen and (orientation: portrait) {
    header {
        position: fixed;
        width: 100%;
        height: 20vw;
        background: #FFF;
        top:0;
    }
    
    header nav {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        height: 20vw;
        background: #FFF
    }

    nav > a {
        width: auto;
    }
    
    nav > a > img {
        width: 45vw;
        max-width: 100%;
        max-height: 100%;
        margin: auto 2vw;
    }

    nav > ul {
        display: inline-flex;
        justify-content: space-between;
    }

    nav > ul > li {
        margin: auto 4.5vw;
    }

    

    .fa-facebook-f {
        font-size: 8vw !important;
        margin-left: 7vw !important;
    }

    .fa-phone-alt {
        font-size:7.5vw !important;
    }

    nav > ul.menu {
        display: none;
    }

    section.hero {
        height: 86vh;
        background:
            url(../images/landing2.png),
            radial-gradient(#edd198c5,#9c651cc2);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .hero h1 {
        font-size: 9vw;
        text-align: center;
        padding-top: 25vw;
        color: #FFFF33	;
        font-weight: 300;
        text-shadow: 0px 0px 5px black;
        line-height: 25vw;
    }

    .hero h1 i {
        font-size: 7vw;
    }

    .hero p {
        font-family: 'Kumbh Sans', sans-serif;
        color: #FFFF33	;
        text-align: center;
        line-height: 6vw;
        font-size: 5vw;
        margin: 3vw 3vw;
    }

    .hero > img {
        
    }
    
}

